body {/*margin:40px auto ;
	  max-width:650px ;*/ 
	  line-height:1.6 ;
	  font-size:18px ; 
	  color:#444 ;
	  padding: 0 10px ;
	  text-align: center ;
	  font-family: 'Lora', serif ;
	  -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      background-attachment: fixed; 
     }

h1,h2,h3{line-height:1.2}

nav {
    line-height: 0.5 ; 
    font-size: 14px ;
    color: black;
    text-align: left ; 
    position: absolute;
    width: 150px ;
    height: 300px ;
    padding-top: 26px ;
    margin-left: -40px; 
    margin-top: -15px;
}

nav a:hover {
    border-bottom: none; 
}
nav a {
    border-bottom: none; 
}

.programmer {font-family: "Courier New", Courier, monospace ;
             font-size: 20px ;
}

.jake-profile {
	width: 60px ;
  height: 60px ;
  margin-top: -65px ;
}

a { color: black ;
	border-bottom: 1px dashed #000 ;
    text-decoration: none ; 
    -o-transition:.35s;
    -ms-transition:.35s;
    -moz-transition:.35s;
    -webkit-transition:.35s;
    transition:.35s;
}

a:hover, a:active {
	color: #ff6600;
	border-bottom: 1px solid #ff6600 ;
    text-decoration: none ; }
}






    